@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["SubmissionSuccessful"] != null)
    {
        <h1 id="SuccessMessage" class="display-4" style="margin-top: 2em;">The submission of your application was successful.</h1>
    }


    <h1 id="RegistrationLink" class="display-3" style="margin-top: 2.5em;"><a asp-controller="JobPosting" asp-action="Index">Apply for your dream job now!</a></h1>



</div>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#SuccessMessage').hide(2000);
        }, 3000);
    });
</script>